<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="common-header">
  <meta charset="UTF-8">
  <title>Burrito's Cafe</title>
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="common-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cafe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/adddish}">Add Dishes</a>
        </li>
      </ul>
      <ul class="navbar-nav" sec:authorize="isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" th:href="@{/cart}">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><strong><span sec:authentication="principal.name"></span></strong></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" th:href="@{/logout}">Logout</a>
        </li>
      </ul>

      </ul>
    </div>
  </div>
</nav>


<footer th:fragment="common-footer">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</footer>

</body>
</html>