<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/common :: common-header"/>
<body>
<nav th:replace="partials/common :: common-navbar"/>

<div class="container">

    <!--Section: Block Content-->
    <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-8">

                <!-- Card -->
                <div class="card wish-list mb-4">
                    <div class="card-body">

                        <h4 class="mb-4">Cart (<span th:text="${totalItems}"></span> items)</h4>

                        <div class="row mb-4" th:each="item : ${cartItems}">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="mb-3 mb-md-0">
                                    <img class="img-fluid cart-image"
                                         th:src="${item.dish.url}" src=""
                                         alt="Sample">

                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 th:text="${item.dish.name}"></h3>
                                        </div>
                                    </div>
                                    <div class="mt-5 d-flex justify-content-between align-items-center">
                                        <p class="mb-0"><span><strong>₹<span th:text="${item.dish.price}"></span></strong> </span></p>
                                        <div>

                                            <a href="#!" th:href="@{/cart/{cartId}(cartId = ${item._id})}" type="button" class="card-link-secondary mr-3"><i
                                                    class="fas fa-trash-alt mr-1"></i></a>

                                        </div>

                                    </div>
                                </div>
                            </div>
<!--                            <hr class="mb-4">-->
                        </div>

                    </div>
                </div>




            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="mb-3">The total amount </h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Amount Payable
                                <span>₹<span th:text="${total}"></span></span>
                            </li>
<!--                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">-->
<!--                                Shipping-->
<!--                                <span>NaN</span>-->
<!--                            </li>-->

                        </ul>
                        <br>

                        <form th:action="@{/order}" method="get" >
                        <button type="submit"  class="btn btn-primary btn-block waves-effect waves-light">Order
                        </button>
                        </form>

                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Block Content-->

</div>

<footer th:replace="partials/common :: common-footer" />
</body>
</html>
