<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/common :: common-header"/>
<body>
<nav th:replace="partials/common :: common-navbar"/>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="450px" width="300px" src="" th:src="${dish.url}"
                 alt="">
        </div>
        <div class="col-sm-7 mt-5">
            <h2 th:text="${dish.name}"></h2>
            <h2>₹ <span th:text="${dish.price}"></span></h2>
            <div class="description">
                <h5 >Description:</h5>
                <p th:text="${dish.description}"></p>
            </div>

            <form th:action="@{/addtocart/{dishId}(dishId = ${dish._id})}" method="post">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>