<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/common :: common-header"/>
<body>
<nav th:replace="partials/common :: common-navbar"/>
<div class="container">
    <div class="row">
        <div th:each="dish :${dishes}" class=" col-md-3 col-sm-6">
            <div class="col">
                <div class="card">
                    <img src="" th:src="${dish.url}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a th:href="@{/dish/{id}(id = ${dish._id})}">
                            <h5 class="card-title" th:text="${dish.name}"></h5>
                        </a>
                        <h4>₹ <span th:text="${dish.price}"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/common :: common-footer" />
</body>
</html>